<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<!--/* 4行目 Thymeleaf Layout Dialectを使用し、テンプレートの共通化を行う*/-->
<head>
    <title>タスク詳細</title>
</head>
<body>

    <section layout:fragment="content">
        <div>
            <!--/*-->
                @PathVariable("id")で指定した${id}　を左辺のidに代入
                 idはタイムリーフ上の{id}
                aタグ　：　GETメソッドが飛ぶ
            <!--*/-->
            <a th:href="@{/tasks/{id}/editForm(id=${id})}" class="btn btn-secondary mt-3">編集</a>
            <!--/*-->
                削除ボタン  DELETE /tasks/1
                formタグでメソッドを指定(DELETE)して実行
                hidden パラメータで _method = delete の変換は th:method="delete" で実現
            <!--*/-->
            <form
                    th:action="@{/tasks/{id}(id=${id})}"
                    th:method="delete"
                    style="display: inline;"
                    onclick="return confirm('タスクを削除しますか？')"
            >
                <button type="submit" class="btn btn-danger mt-3">削除</button>
            </form>
        </div>
        <!--/* layout.htmlにcontentという名前で渡す　*/-->
        <div class="card mt-3">
            <div th:object="${task}">
                <h2 class="card-header d-flex justify-content-between align-items-baseline">
                    <!-- 左側に表示するタイトル -->
                    <span th:text="'#' + *{id} + ' ' + *{summary}"></span>
                    <!--/*  フラグメントを呼び出す */-->
                    <div class="h6 mb-0" th:replace="~{fragments/common :: dueDate(task=${task})}"></div>
                </h2>
                <div class="card-body">
                    <p th:text="*{status}"></p>
                    <pre th:text="*{description}"></pre>
                </div>
            </div>
        </div>
    </section>
</body>
</html>