<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>

    <!--/* テーブル内で使用するための期限日のフラグメント   */-->
    <td th:fragment="dueDateCell(task)"
        th:text="${task.remaining_days} + '日'"
        th:classappend="${task.isOverdue} ? 'text-danger'">
    </td>

    <!--/* 期限と残日数を表示するフラグメント */-->
    <!--/* detail.htmlで使用 */-->
    <div th:fragment="dueDate(task)" th:if="${task.due_date != '-'}">
        期限:
        <span th:text="${task.due_date}"></span>
        (<span th:text="${task.remaining_days} + '日'"
               th:classappend="${task.isOverdue} ? 'text-danger'"></span>)
    </div>
</body>
</html>